<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="shortcut icon" href="/static/png/vinyle.png">
    <link rel="stylesheet" href="/static/error400.css">
    <link rel="stylesheet" href="/static/Backerror.css">
</head>
<div class="Backerror"></div>
<body>
    <div class="container">
        <div class="name">
            <h1 class="title">
                Error400?!
            </h1>
        </div>
        <p class="info">
            <div class="artists">
                <div class="list">
                    <div>
                        <div class="info">

                            <div>
                                <span class="text-error">
                                    hmmm you did a BAd Request!?
                                </span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </p>
        <a href="http://localhost:8080">
            RETURN HOME ?
        </a>
    </div>
</body>
</html>