/*------ Background Bars ------*/
body {
  font-family: 'FridayNight';
  color: rgb(255, 255, 255);
  background: url('/static/png/Background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
  font-size: 22px;
  line-height: 1.5em;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  min-height: 110vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.backgroundbars {
  background-image: url('/static/png/bars.png');
  background-size: 120vw 130vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed; /* or fixed, depending on your layout */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3; /* to ensure it's behind other elements */
  filter: blur(4px);
  
 }
    /*--------- Buildings Background -----------*/
.buildings {
  background-image: url('/static/png/buildings.png');
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed; /* or fixed, depending on your layout */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -4; /* to ensure it's behind other elements */
  filter: blur(4px);
}
  
.lightbuildings{
    background-image: url('/static/png/light.png');
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: fixed; /* or fixed, depending on your layout */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -4; /* to ensure it's behind other elements */
    filter: blur(10px); /* Adjust the blur amount for desired intensity */
    box-shadow: 0 0 20px rgba(216, 44, 44, 0.932); /* Adjust color and size for effect */
}
.characters {
    background-image: url('/static/png/skarlet.png');
    background-size: 55vh 85vh; /* Set width or height, not both */
    background-repeat: no-repeat;
    position: fixed; /* Ensures element stays fixed */
    left: 72%; /* Top left corner */
    top: 10%;
    width: 1000px; 
    height: 1000px;
    z-index: -4; /* Adjust if needed */
    filter: blur(4px);
}
.SpinVynile {
    position: fixed;
    bottom: -425px;
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
    height: 750px;
    background-image: url('/static/png/vinyle.png');
    background-size: cover;
    border-radius: 50%;
    animation: spin 6s linear infinite;
    z-index: -4;
    filter: blur(4px);
}
  @keyframes spin {
    0% { transform: translateX(-50%) rotate(0deg); }
    100% { transform: translateX(-50%) rotate(360deg); }
}

  
  